{% extends 'base.html' %}

{% block content %}

<h1>EDIT</h1>

<hr>

<form action="{% url 'update' movie.pk %}" method="POST">
    {% csrf_token %}

    <label for="title">TITLE</label>
    <input type="text" name="title" value="{{movie.title}}"><br>
    <label for="audience">AUDIENCE</label>
    <input type="text" name="audience" value="{{movie.audience}}"><br>
    <label for="release_date">RELEASE_DATE</label>
    <input type="date" name="release_date" value="{{movie.release_date|date:'Y-m-d'}}"><br>
    <label for="genre">GENRE</label>
    <select name="genre">
        {% for genre in genres %}
        {% if genre == movie.genre %}
        <option label="{{movie.genre}}" value="{{movie.genre}}" selected>
        {%else%}
        <option label="{{genre}}" value="{{genre}}">
        {%endif%}
        {%endfor%}
    </select>
    <br>
    <label for="score">SCORE</label>
    <input type="text" name="score" value="{{movie.score}}"><br>
    <label for="poster_url">POSTER_URL</label>
    <input type="text" name="poster_url" value="{{movie.poster_url}}"><br>
    <label for="description">DESCRIPTION</label>
    <textarea name="description" cols="30" rows="5">{{movie.description}}</textarea><br>
    <input type="reset" value="Reset">
    <input type="submit" value="Submit">
</form>

<hr>

<a href="{% url 'index' %}">BACK</a>

{%endblock content%}